# --- SAMPAH SISTEM OPERASI ---
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# --- SAMPAH EDITOR / IDE ---
.idea
.vscode
*.swp
*.swo
*.sublime-workspace

# --- FOLDER 'SOURCES' (Safety Net) ---

# > Keamanan & Environment
sources/.env
sources/.env.backup
sources/.env.production
sources/auth.json

# > Dependencies (Berat & Ribuan File)
sources/vendor/
sources/node_modules/

# > Kunci Rahasia SSO/Passport
sources/storage/*.key
sources/storage/oauth-*.key

# > Log & Cache Laravel
sources/storage/logs/*.log
sources/storage/framework/views/*.php
sources/storage/framework/cache/data/*
sources/storage/framework/sessions/*
sources/storage/framework/testing/*

# > Lain-lain
sources/.phpunit.result.cache
sources/npm-debug.log
sources/yarn-error.log

# --- 4. FOLDER PUBLIC (Di Luar Sources) ---
storage
hot
build