# --- SAMPAH SISTEM OPERASI ---
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# --- SAMPAH EDITOR / IDE ---
.idea
.vscode
*.swp
*.swo
*.sublime-workspace

# --- FOLDER 'SOURCES' (Safety Net) ---

# > Keamanan & Environment
sources/.env
sources/.env.backup
sources/.env.production
sources/auth.json

# > Dependencies (Berat & Ribuan File)
sources/vendor/
sources/node_modules/

# > Kunci Rahasia SSO/Passport
sources/storage/*.key
sources/storage/oauth-*.key

# > Log & Cache Laravel (Termasuk Filament & Spatie)
sources/storage/logs/*
sources/storage/framework/views/*
sources/storage/framework/cache/data/*
sources/storage/framework/sessions/*
sources/storage/framework/testing/*
sources/bootstrap/cache/*

# > Pengecualian agar folder cache/log tidak hilang dari Git
!sources/storage/logs/.gitignore
!sources/storage/framework/views/.gitignore
!sources/storage/framework/cache/data/.gitignore
!sources/storage/framework/sessions/.gitignore
!sources/storage/framework/testing/.gitignore
!sources/bootstrap/cache/.gitignore

# > Lain-lain
sources/.phpunit.result.cache
sources/.phpunit.cache
sources/npm-debug.log
sources/yarn-error.log

# --- SPATIE BACKUP / FILE DUMP ---
*.sql
*.zip
*.tar.gz

# --- FOLDER PUBLIC (Di Luar Sources) ---
/storage
/hot
# /build (Hapus tanda # jika Anda TIDAK ingin aset Vite masuk ke repo Git)