APP_NAME='TSU Homebase Sources'
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://tsu-homebase-sources.test
ASSET_URL=https://tsu-homebase-sources.test
FRONTEND_URL=https://tsu-homebase-sources.test

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
# DB_HOST=<IP-address>
# DB_PORT=3306
# DB_DATABASE=tsu_homebase
# DB_USERNAME=<your-username>
# DB_PASSWORD=<your-password>

SESSION_DRIVER=database
SESSION_LIFETIME=60
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=tsu-homebase-sources.test
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="no-reply@tsu.ac.id"
MAIL_TO_ADDRESS="pikdi@tsu.ac.id" # Ganti dengan Email lain TSU jika berkenan
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

PASSPORT_PASSWORD_GRANT_CLIENT_ID=
PASSPORT_PASSWORD_GRANT_CLIENT_SECRET=

PASSPORT_AUTHORIZATION_GRANT_CLIENT_ID=
PASSPORT_AUTHORIZATION_GRANT_CLIENT_SECRET=

# Emergency Secret Key
# Signature URL dari Homebase (Harus SAMA dengan Homebase)
PIKDI_EMERGENCY_SECRET=MASUKKAN_SECRET_KEY

# Untuk Password Login Manual (Secret dari Hash)
PIKDI_RESCUE_SECRET=MASUKKAN_SECRET_KEY
